[Desktop Entry]
Version=1.0
Type=Application
Name=Bills (Brave)
Comment=opens sites for monthly bills
Exec=brave-bills.sh
Icon=bill-invoice
Terminal=false
Categories=Network;WebBrowser;Bills;Finance;
