[Desktop Entry]
Version=1.0
Type=Application
Name=Accounts (Brave)
Comment=opens sites for accounts
Exec=brave-accounts.sh
Icon=bank-account
Terminal=false
Categories=Network;WebBrowser;Finance;
