#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Plex
Exec=/usr/lib/opt/google/chrome/google-chrome --profile-directory=Default --app-id=cjofgkkogpfhohojmmcloannndlbcdog
Icon=chrome-cjofgkkogpfhohojmmcloannndlbcdog-Default
NoDisplay=true
StartupWMClass=crx_cjofgkkogpfhohojmmcloannndlbcdog
